@font-face {
  font-family: 'library';
  src: url(/asset/resource/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'temp';
  src: url(/asset/resource/fonts/SpecialGothicExpandedOne-Regular.ttf);
}


html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'library';
  background-image: url(../asset/resource/img/zdania-v-centre-los-andzelesa-noc-u.jpg);
  background-position: 25% 15%;
  background-color: #000000;
  background-repeat:space ;
  background-size: cover;
  gap: 350px;
}

.main {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 100%;
  border-radius: 25px;
  background-color: #00000054;
}

.conteiner {
  height: 20vh;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contetnt__logo {
  font-size: 2rem;
  color: #ffffff;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-control {
  font-family: 'library';
  background-color: #0000001c;
  border-radius: 10px;
  border: none;
  width: 30vw;
  height: 30px;
  margin: 0;
  display: block;
  background-clip: padding-box;
  color: #8a8a8a;
}

.form-control:focus {
  color: #212529;
  background-color: #0000006b;
  color: #ffffff;
  border-color: #0000005d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(251, 251, 251, 0.25);
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.content__container-day {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 80vw;
  height: 30vh;
  font-family: 'library';
}

.section__firstPosition {
  font-size: 1.5rem;
  margin-top: 25px;
  display: flex;
  gap: 45vw;
}

.section__secondPosition {
  font-size: 1.3rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 5vw;
  background-color: #000000c1;
}

.description_conteiner {
  width: 80vw;
  display: flex;
  justify-content: end;
}

.description {
  border: 1px solid rgb(255, 255, 255);
  background-color: #000000c1;
  border-radius: 15px;
  width: 32vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 200px;
  margin-top: 90px;
  gap: 5px;
}

.day-container {
  border: 1px solid rgb(9, 7, 7);
  width: 100%;
  border-radius: 10px;
  background-position: 25% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.day-element {
  background-color: #000000aa;
  border-radius: 5px;
}

.temp-element {
  background-color: #000000aa;
  border-radius: 5px;
}

.btn-submit {
  font-family: 'library';
  width: 6rem;
  height: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

.telega {
  font-size: 15px;
  transition: 1s;
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
}

a {
  width: 10vw;
  font-size: 15px;
  letter-spacing: 0.3rem;
  color: #ffffff;
  text-decoration: none;
}

.telega:hover {
    transform: scale(1.8);
}